<!doctype html>
<html class="jbsmesHtml layout-condensed">
<head>

  <meta charset="utf-8">

  <title>{{name}}</title>

  <meta name="description" content="FabOS">

  <!-- base url -->
  <base href="./">


  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- #CSS Links -->
  <!-- Basic Styles -->
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/font-awesome.min.css">

  <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/smartadmin-production-plugins.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/smartadmin-production.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/smartadmin-skins.min.css">

  <!-- SmartAdmin RTL Support (Not using RTL? Disable the CSS below to save bandwidth) -->
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/smartadmin-rtl.min.css">

  <!-- SmartAdmin Angular 2. Flex Layout  -->
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/smartadmin-angular-next.css">

  <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/project-style.css">
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/datatable.css">

  <!-- #FAVICONS -->
  <link rel="shortcut icon" href="assets/img/jbs.png" type="image/x-icon">


  <!-- #APP SCREEN / ICONS -->
  <!-- Specifying a Webpage Icon for Web Clip
  Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
  <link rel="apple-touch-icon" href="assets/img/splash/sptouch-icon-iphone.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/splash/touch-icon-ipad.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/img/splash/touch-icon-iphone-retina.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/img/splash/touch-icon-ipad-retina.png">

  <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Startup image for web apps -->
  <link rel="apple-touch-startup-image" href="assets/img/splash/ipad-landscape.png"
        media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
  <link rel="apple-touch-startup-image" href="assets/img/splash/ipad-portrait.png"
        media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
  <link rel="apple-touch-startup-image" href="assets/img/splash/iphone.png"
        media="screen and (max-device-width: 320px)">

</head>

<body>
<app-root>Loading...</app-root>
</body>
</html>
